[submodule "PingClientBase"]
	path = PingClientBase
	url = https://github.com/TCPingInfoView/PingClientBase
[submodule "Build/DotNetDllPathPatcher"]
	path = Build/DotNetDllPathPatcher
	url = https://github.com/HMBSbige/DotNetDllPathPatcher
[submodule "Infrastructure/SingleInstance"]
	path = Infrastructure/SingleInstance
	url = https://github.com/HMBSbige/SingleInstance
[submodule "Build/TCPingClient"]
	path = Build/TCPingClient
	url = https://github.com/TCPingInfoView/TCPingClient
