[submodule "PingClientBase"]
	path = PingClientBase
	url = https://github.com/TCPingInfoView/PingClientBase
[submodule "TCPingClient"]
	path = TCPingClient
	url = https://github.com/TCPingInfoView/TCPingClient
